chroma-hnswlib==0.7.3
chromadb==0.4.22
fastapi==0.115.6
gradio==5.9.1
gradio_client==1.5.2
huggingface-hub==0.27.0
langchain==0.3.13
langchain-chroma==0.1.4
langchain-community==0.3.12
langchain-core==0.3.27
langchain-ollama==0.2.2
langchain-text-splitters==0.3.4
langdetect==1.0.9
langsmith==0.2.4
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
ollama==0.4.4
rsa==4.9
streamlit==1.40.2
streamlit-authenticator==0.4.1
torch==2.5.1
torchvision==0.20.1
unstructured==0.16.11
unstructured-client==0.25.9
unstructured-inference==0.8.1
unstructured.pytesseract==0.3.13
